$color-primary: rgb(197, 115, 48);
$color-secondary: #52d614;
$color-pale: rgb(241, 243, 130);
$color-mid: rgb(10, 45, 68);
$color-dark: #491708;
$color-transparent-black: rgba(0, 0, 0, 0.5);
$color-teal: rgb(98, 16, 165);

header {
    h2 {
        color: $color-pale;
    }
}

body {
    font-family: "Arial", sans-serif;
}

h1, h2, h3 {
    font-family: "Georigia", serif;
}

h5 {
    font-family: "Georigia", serif;
    color: rgb(32, 50, 151);
}

h2 {
    color: rgb(32, 50, 151);
}

header h2 {
    color: rgb(10, 34, 61);
}

footer {
    background-image: linear-gradient(rgb(243, 243, 243), rgb(255, 255, 255));
    padding: 5px 0;
}

.jumbotron {
    padding: 10px;
    background-image: linear-gradient(to right, rgb(187, 86, 19), rgb(145, 136, 18), rgb(214, 201, 16));
    color: rgb(8, 46, 128);
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: rgb(8, 172, 122);
    color: rgb(201, 218, 53);
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid rgb(239, 238, 243);
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

#reserveModal {
    .modal-header {
        background-color: $color-teal;
        color: white;
    }
}

#loginModal {
    .modal-header {
        background-color: $color-mid;
        color: white;
    }
}

